# Node dependencies & Lockfiles
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Docker
Dockerfile*
*.dockerfile
.dockerignore

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Secrets
.env
.env.*.local
.env.local

# Databases & data
pgdata/
influxdata/
data/
*.sqlite
*.sqlite-journal

# Editor and OS files
.DS_Store
Thumbs.db
.idea/
.vscode/
